*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: "Fira Sans", serif;
    font-style: normal;
    /* color: #F1F1F3; */
}
    main{
    max-width: 1280px;
    margin: auto;
    }
    section{
        padding-bottom: 80px;
    }
.all-h3{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
}
.all-p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(14, 14, 14, 70%);
}
.all-h5{
    font-size: 20px;
    font-weight: bold;
    color: #0E0E0E;
    opacity: 80%;
    margin-top: 24px;
}
.nav-content{
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.nav-content p{
    padding: 31px 0;
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E;
}
.nav-content  a{
    border: 1px solid #006A50;
    border-radius: 8px;
    padding: 15px 30px;
    text-decoration: none;
    color: #006A50;

}
/* banner section */
.banner-main{
    background-color: #C6E4D6;
    border-radius: 24px;
}
.banner-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    margin-left: 60px;
}
.banner-content p{
    font-size: 24px;
    font-weight: 500;
    color: #0E0E0E;
    opacity: 50%;
    /* margin-bottom: 16px; */
}
.banner-content h1{
    font-size: 56px;
    font-weight: bold;
    color: #0E0E0E;
    line-height: auto;
    padding: 24px 0;
    margin-bottom: 24px;
}
.banner-content a{
    padding: 17px 34px;
    background-color: #006A50;
    color: #FFFFFF;
    border-radius: 8px;
    text-decoration: none;
    
}
/* pillure-topic */
.pillure-topic{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
    gap: 24px;
}
.pillure-topic .pillure-content{
    border: 1px solid rgba(14, 14, 14, 15%);
    border-radius: 16px;
    /* background-color: #FFFFFF; */
    padding: 24px;
}

.pillure-topic .pillure-content p{
    margin-top: 12px;
}
/* future-vision */
.future-vision p{
    padding-top: 24px;
}
.future-vision-topic{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin: 32px 0;
}
.future-vision-topic .future-vision-content1{
    background-color: rgba(84, 144, 245, 20%);
    border-radius: 16px;
    padding: 33px;
}
.future-vision-topic .future-vision-content1 button{
    padding: 11px 20px;
    background-color: #5490F5;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    margin-top: 24px;
}
.future-vision-topic .future-vision-content2{
background-color: #C6E4D6;
border-radius: 16px;
padding: 33px;
}
.future-vision-topic .future-vision-content2 button{
    padding: 11px 20px;
    background-color: #09A15C;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    margin-top: 24px;
}
.future-vision-topic .future-vision-content3{
    background-color:#F7EBCF ;
    border-radius: 16px;
    padding: 33px;
}
.future-vision-topic .future-vision-content3 button{
    padding: 11px 20px;
    background-color: #FFC239;
    border-radius: 8px;
    border: none; 
    color: #FFFFFF;
    margin-top: 24px;
}
/* quote */
.quote{
    background-image: url(./assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 24px 24px;
    border: 1px solid #F1F1F3;
    border-radius: 16px;
}          
.quote-content{
    padding: 48px 24px;
}
.quote h5{
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: #0E0E0E;
    opacity: 80%;
    margin-top: 12px;
    margin-bottom: 4px;
}
/* opinion */
.question{
    margin-top: 24px;
    border-radius: 16px;
    padding: 32px;
}
.question-table{
    
}
.question-table table{
    border: 1px solid red;
    padding: 20px; 
}
.question-table th{
    font-size: 20px;
    font-weight: 600;
}



/* news */
.news p{
    padding: 24px 0;
}
.news-topic{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid rgba(14, 14, 14, 15%); */
    border: 1px solid #F1F1F3;
    border-radius: 24px;
    padding: 48px;
    margin: 24px 0;
    gap:32px;
}
.news-topic .img1{
    border-radius: 24px;
}
.news-topic h3{
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E;
    opacity: 80%;
}
.news-topic .news-content .img2{
    padding: 12px 0;
}
.news-topic .news-content p{
    font-size: 16px;
    line-height: 24px;
    color: #0E0E0E;
    opacity: 70%;
}
.news-topic .news-content .news-time{
    padding: 12px 0;
}
.news-content button{
    padding: 13px 26px;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #006A50;
    border-radius: 8px;
    border: none;
    margin-top: 32px;
}
.news-content button:hover{
    background-color: #F1F1F3;
    color: #006A50;
}
/* donate */
.donate{
    text-align: center;
}
.donate p{
    font-size: 16px;
    line-height: 24px;
    color: #0E0E0E;
    opacity: 70%;
    padding-top: 24px;
}
.donate-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 32px 0;
}
.donate-button button{
    padding: 40px;
    border: 1px solid rgba(14, 14, 14, 15%);
    border-radius:  16px;
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    opacity: 80%;
    background-color: #FFFFFF;
}
.donate-button .change{
    background-color: #C6E4D6;
}
.donate-button button:hover{
    background-color: #C6E4D6;
}
.donate-button .change:hover{
    background-color: #FFFFFF;
}

.donate-now {
    text-align: center;
}
.donate-now button{
    border-radius: 8px;
    background-color: #006A50;
    padding: 17px 34px;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    border: none;
}
.donate-now button:hover{
    background-color: antiquewhite;
    color: #09A15C;
}

