*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: "Fira Sans", serif;
    font-style: normal;
}

.all-h3{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
}
.nav-content{
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.nav-content p{
    padding: 31px 0;
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E;
}
.nav-content  a{
    border: 1px solid #006A50;
    border-radius: 8px;
    padding: 15px 30px;
    text-decoration: none;
    color: #006A50;

}
/* banner section */
.banner-main{
    background-color: #C6E4D6;
    max-width: 1280px;
    margin: auto;
    border-radius: 24px;
    padding: 80px 0px;
}
.banner-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    margin-left: 60px;
}
.banner-content p{
    font-size: 24px;
    font-weight: 500;
    color: #0E0E0E;
    opacity: 50%;
    /* margin-bottom: 16px; */
}
.banner-content h1{
    font-size: 56px;
    font-weight: bold;
    color: #0E0E0E;
    line-height: auto;
    padding: 24px 0;
    margin-bottom: 24px;
}
.banner-content a{
    padding: 17px 34px;
    background-color: #006A50;
    color: #FFFFFF;
    border-radius: 8px;
    text-decoration: none;
    
}
/* pillure-topic */
.pillur-of-bangladesh{
    max-width: 1280px;
    margin: auto;
    padding: 80px 0px;
    
}
.pillure-topic{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
    gap: 24px;
}
.pillure-topic .pillure-content{
    border: 1px solid rgba(14, 14, 14, 15%);
    border-radius: 16px;
    background-color: #FFFFFF;
    padding: 24px;
}
.pillure-topic .pillure-content h5{
    font-size: 20px;
    font-weight: bold;
    color: #0E0E0E;
    opacity: 80%;
    margin-top: 24px;
}
.pillure-topic .pillure-content p{
    
}